@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800; /* Extra Bold */
    font-style: italic;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: 400; /* Regular Italic */
    font-style: italic;
  }

  

:root {
    --primary-color: #854dff;
}

body{
    background-color: #bbb;
    font-family: 'Poppins' !important;
}

.app{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.app_content{
    width: 80rem;
    max-width: 80rem;
    background-color: white;
    padding: 5.6rem;
    border-radius: 2.4rem 2.4rem 20rem 2.4rem;
    transition: all 0.3s;
    /* height: 651px; */
    margin: 0 25px;
}

.hidden-line{
  display: none
}


@media (max-width: 767px) {
  html{
    font-size: 50%;
  }

  .app_content{
    width: 100%;
    max-width: 100%;
  }
  
}

@media (max-width: 600px) {
  html{
    font-size: 30%;
  }

  body{
    overflow: hidden;
  }

  .hidden-line{
    display: block
  }

  .date_actions button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 50rem;
    height: auto;
    transition: all 0.3s;
}
  
}
